#include <bits/stdc++.h>

using namespace std;

int main()
{
    string up[26]{"A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z" };
    string low[26]{"a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z" };
    int siz;
    int k=rand();
    string krand="";
    stringstream ss;
    ss<<k;
    ss>>krand;
    string acc="";
    cin>>siz;
    srand(time(0));
    for(int i=0;i<siz;i++){
        int random=rand()%2;
        if(random==1){
            int ans=rand()%27;
            acc+=up[ans];
        }else if(random==0){
            int ans=rand()%27;
            acc+=low[ans];
        }
    }
    
    cout<<acc+krand+"@gmail.com";
    return 0;
}
